header.navbar.navbar-fixed-top(role="banner").navbar-inverse
	.container
		.navbar-header
			button.navbar-toggle.pull-left(data-toggle="collapse-side",data-target=".side-collapse",data-target-2=".side-collapse-container",type="button")
				span.icon-bar
				span.icon-bar
				span.icon-bar
		.navbar-inverse.side-collapse.in
			nav(role="navigation").navbar-collapse
				ul.nav.navbar-nav
					li
						a(href="/") Blog
					li
						a(href="/blog/write") New Post