extends layout

block content
	style
		.b{background:#61AAE4}
		.y{background:#D4DF5D; color:black}
	h1 Login
	form(role="form",method="POST")
		.form-group
			input.form-control(name="username",type="text",placeholder="Username")
			input.form-control(name="password",type="password")
			input.btn.btn-success.pull-right(type="submit",value="Login")
			a.btn.btn-default.pull-right(href="/blog/register") I'm new!
